* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
}

body:after{
 	display:none;
 	content: url(images/twitter-pink.png) url(images/linkedin-pink.png) url(images/github-pink.png) url(images/email-pink.png);
}

@font-face {
    font-family: "Kollektif";
    src: url("/fonts/Kollektif.ttf");
    src: url("/fonts/kollektif-webfont.svg") format("svg"),
    url("/fonts/kollektif-webfont.eot") format("eot");
}

@font-face {
    font-family: "Kollektif-Bold";
    src: url("/fonts/Kollektif-Bold.ttf");
    src: url('fonts/kollektif-bold-webfont.woff2') format('woff2'),
         url('fonts/kollektif-bold-webfont.woff') format('woff'),
         url("/fonts/kollektif-bold-webfont.svg") format("svg"),
    	 url("/fonts/kollektif-bold-webfont.eot") format("eot");
}
         
@keyframes fadeIn{
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header{
	position: relative;
	display: block;
    width: 100%;
    height: 70vh;
    margin-top: 5%;
}

.logo{
	position:absolute;
	top: 0;
	left: 0;
	margin: 3% 4.5%;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 3.5vh;
	color: #f48da0;
	font-family: "Kollektif-Bold", sans-serif;
	z-index: 3;
}

.logo a{
	color: #f48da0;
	text-decoration: none;
}

.navigation{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	margin: 3.75% 4.5%;
	z-index: 3;
}

.navigation a{
	font-family: 'Kollektif', sans-serif;
	color: #000;
	font-size: 12pt;
	text-decoration: none;
	letter-spacing: 0.06em;
	margin: 0 0.5vw 0 4.75vw;
	text-transform: uppercase;
	font-weight: 500;
}

.float{
	transition: transform 0.5s;
}

.float:hover{
	transform: translate(0, -5px);
}

.headline{
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	letter-spacing: 0.01em;
}

#nothing{
	background-color: #bebebe;
}

#nothing-dailyui{
	width: 100%;
	max-width: 100%;
    height: 12.25vw;
/*    	background-image: url('images/daily ui banner small.png');*/
background-image: url('images/daily-ui-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fadein{
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

.text{
	font-family: 'Montserrat', sans-serif;
	color: #000;
}

.wrapper{
	display:inline-flex;
	white-space: pre-wrap;
}

.thin{
	font-weight: 100;
}

.semibold{
	font-weight: 600;
}

.regular{
	font-weight: 400;
}

.extra-light{
	letter-spacing: 0.08vw;
	margin-top: 2.25vh;
	font-weight: 500;
	font-size: 22px;
	color: #f48da0;
}

.light{
	font-weight: 300;
}


#title{
	margin-top: 0.6%;
	font-size: 6vh;
	font-family: 'Kollektif-Bold', sans-serif;
	text-align: center;
	line-height: 1.35em;
}

#social-media{
	margin: 0 1.75vw;
	margin-top: 2%;
}

#social-media a{
	margin: 0 1.75vw;
	text-decoration: none;
}

.button{
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-right: 0vw;
    height: 3vw;
    width: 3vw;
    -moz-transition: 0.2s;
    transition: 0.2s;
    display: inline-block;
}

#twitter{
	background-image: url("images/twitter-logo-silhouette.svg");
}

#twitter:hover{
	background-image: url("images/twitter-pink.png");
}

#linkedin{
	background-image: url("images/linkedin.png");
}

#linkedin:hover{
	background-image: url("images/linkedin-pink.png");
}

#github{
	background-image: url("images/github.png");
}

#github:hover{
	background-image: url("images/github-pink.png");
}

#email{
	background-image: url("images/email.png");
}

#email:hover{
	background-image: url("images/email-pink.png");

}


#work {
	padding: 0% 9% 6.5% 9%;
	max-width: 100vw;
/*	background-color: #fbfbfb;*/
}

.banners{
    height: 25.5vw;
	display: block;
	transition: all 0.2s;
}

#daily-ui{
	width: 100%;
	max-width: 100%;
	background-image: url('images/daily-ui.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 12.25vw;
}

.banner-container{
	position: relative;
	width: 99.9%;
	height: 25.5vw;
 	overflow: hidden;
	display: block;
	z-index: 3;
	transition: 0.5s all;
}

#daily-ui-row{
	height: 12.25vw;
}

#league{
	width: 100%;
	max-width: 100%;
	background-image: url('images/league-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#iqvia{
	width: 100%;
	max-width: 100%;
	background-image: url('images/iqvia-6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#sybil{
	width: 100%;
	max-width: 100%;
	height: 100%;
	background-image: url('images/sybil-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#foodster{
	width: 100%;
	max-width: 100%;
	background-image: url('images/foodster-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#steam{
	width: 100%;
	max-width: 100%;
	background-image: url('images/steam02.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container:hover {
	box-shadow: 0px 10px 49px rgba(0,0,0,0.08);
}

.banner-container:hover .info{
    top:0;
}

.banner-container:hover .overlay{
    opacity: 1;
}

#powerup{
	width: 100%;
	max-width: 100%;
	background-image: url('images/powerup-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.row{
	margin-top: 3.75%;
	width: 81vw;
	display: flex;
	flex-wrap: wrap;
	height: 22.5vw;
}

.column-1{
	width: 27vw;
}

.column-3{

}

.info{
	 box-sizing: border-box;
    height: 100%;
    padding: 10%;
    position: absolute;
    top: -100%;
    transition: top 0.3s ease 0s;
    width: 100%;
    z-index: 4;
    color: #000;
    border-style: solid none none none;
    border-width: 5px;
    border-color: #f48da0;
}

.info a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	z-index: 5;
}

#info-long{
    padding: 5% 5.5% 5.5% 5.5%;
}

#see-long{
	padding: 5.25% 6.8%;
}

#arrow-long{
	margin: 5.25% 3.5%;
}

.dates{
	letter-spacing: 0.05em;
	font-weight: 500;
	color: #aaaaaa;
	text-transform: uppercase;
	font-size: 10pt;
}

.project-title{
	margin-top: 2%;
	font-weight: 600;
	color: #000;
	font-size: 14pt;
}

.project-title-daily{
	margin-top: 0.85%;
	font-weight: 600;
	color: #000;
	font-size: 15pt;
}

.project-subtitle{
	margin-top: 7.5%;
	font-weight: 400;
	color: #000;
	font-size: 10.25pt;
	line-height: 1.65em;
}

.see-more{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 9.75% 18.5%;
	text-transform: uppercase;
	font-weight: 600;
	color: #f48da0;
	font-size: 11.5pt;
	letter-spacing: 0.05em;
}

.right-arrow{
	display: inline;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 20px;
	height: auto;
	margin: 9.5% 9.5%;
}

.overlay{
	background: none repeat scroll 0 0 #FFF;
    height: 100%;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    transition: 1s all;
}

#hackduke{
	width: 100%;
	max-width: 100%;
	background-image: url('images/hackduke-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#ideate{
	width: 100%;
	max-width: 100%;
	background-image: url('images/ideate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rectangle {
	height: 3.5px;
	width: 45px;
	background-color: #f48da0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}

.footer{
	text-align: center;
	padding: 0.5% 1.5% 1.5% 1.5%;
	margin-bottom: 1.5%;
	font-size: 11pt;
	letter-spacing: 0.02em;
}

.heart{
	display: inline;
	height: 2.35vh;
	width: auto;
		margin-top: 0.3%;
		padding-top: 0.2%;

	padding-left: 0.3%;

}

@media (max-width: 855px) {
	.dates{
		font-size: 10pt;
	}

	.column-1{
		width: 40.5vw;
	}

	.project-title{
		font-size: 12pt;
	}

	.project-subtitle{
		font-size: 9pt;
	}

	.banners{
		height: 40.5vw;
	}

	.row{
		height: 78vw;
	}

	.banner-container{
		height: 40.5vw;
	}

	#hide{
		display:none;
	}

	#short-row{
		height: 37.5vw;
	}

	.project-title-daily{
		font-size: 12pt;
	}

	#info-long{
		padding: 3% 5.5% 2.5% 5.5%;
	}

	#see-long{
		padding: 4.25% 9%;
		font-size: 10pt;
	}

	#arrow-long{
		margin: 4% 3.5%;
		width: 20px;
	}

	#title{
		font-size: 25pt;
	}

	.extra-light{
		font-size: 15px;
	}

	.navigation a{
		font-size: 10pt;
	}
}

@media (max-width: 700px) {
	.button{
	    height: 8vw;
	    width: 8vw;
	}

	.column-1{
		width: 100%;
		padding-right: 0;
	}

	.dates{
		font-size: 10pt;
	}

	.project-title{
		font-size: 14pt;
	}

	.project-subtitle{
		font-size: 10pt;
	}

	.banners{
		height: 50vw;
	}

	.row{
		height: 195vw;
	}

	.banner-container{
		height: 50vw;
	}

	#hide{
		display:none;
	}

	#short-row{
		height: 95vw;
	}

	.project-title-daily{
		font-size: 14pt;
	}

	#daily-ui-row{
		height: 25vw;
	}

	#nothing-dailyui{
		height: 25vw;
	}

	#info-long{
		padding: 9% 10% 2.5% 10%;
	}

	#see-long{
		padding: 11% 15%;
		font-size: 10pt;
	}

	#arrow-long{
		margin: 10.7% 8%;
		width: 20px;
	}

	#title{
		font-size: 20pt;
	}

	.extra-light{
		font-size: 15px;
	}

	.navigation a{
		font-size: 10pt;
	}
}

@media (max-width: 480px) {
	.headline{
		font-size: 10vh;
	}

	#subtitle{
		font-size: 6vh;
	}

	.navigation a{
		font-size: 9pt;
	}

	.logo{
		font-size: 15pt;
	}
	.project-title{
		font-size: 12pt;
	}

	.project-subtitle{
		font-size: 8pt;
	}

	.project-title-daily{
		font-size: 12pt;
	}

		#see-long{
		padding: 9% 15%;
		font-size: 10pt;
	}

	#arrow-long{
		margin: 8.7% 8%;
		width: 20px;
	}
}

@media (max-width: 385px) {
	.navigation a{
		font-size: 9pt;
	}

	.logo{
		font-size: 11pt;
		padding-top: 1.75%;
	}

	.dates{
		font-size: 9pt;
	}
	.project-title{
		font-size: 10pt;
	}

	.project-subtitle{
		font-size: 8pt;
	}

	.see-more{
		font-size: 8pt;
	}

	.project-title-daily{
		font-size: 10pt;
	}

		#see-long{
		padding: 9% 15%;
		font-size: 8pt;
	}

	#title{
		font-size: 15pt;
	}

	.extra-light{
		font-size: 12px;
	}

	.navigation{
		padding-top: 1.2%;
	}

	.navigation a{
		font-size: 8pt;
	}

	.footer{
		font-size: 8pt;
	}
}