* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: "Quicksand Regular";
    src: url("fonts/Quicksand-Regular.otf");
    src: url("fonts/quicksand-regular-webfont.woff") format("woff"),
    url("fonts/quicksand-regular-webfont.svg") format("svg"),
    url("fonts/quicksand-regular-webfont.eot") format("eot");
}

@font-face {
    font-family: "Quicksand Light";
    src: url("fonts/Quicksand-Light.otf");
    src: url("fonts/quicksand-light-webfont.woff") format("woff"),
    url("fonts/quicksand-light-webfont.svg") format("svg"),
    url("fonts/quicksand-light-webfont.eot") format("eot");
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
         
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header{
	position: relative;
	display: block;
	background: url("images/header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navigation{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	margin: 2% 4.5%;
}

.navigation a{
	font-family: 'Overpass', sans-serif;
	color: #4d4d4d;
	font-size: 3vh;
	text-decoration: none;
	letter-spacing: 0.05vw;
	margin: 0 1.75vw;
	transform: scaleY(0.925);
}

.nav-button {
	transform: scaleY(0.925);
}

.float{
	transition: transform 0.5s;
}

.float:hover{
	transform: translate(0, -5px);
}

.headline{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12vh;
	flex-direction: column;
}

.fadein{
	-webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.text{
	font-family: 'Overpass', sans-serif;
	color: #4d4d4d;
	transform: scaleY(0.975);
}

.wrapper{
	display:inline-flex;
	white-space: pre-wrap;
}

.thin{
	font-weight: 100;
}

.semibold{
	font-weight: 600;
}

.regular{
	font-weight: 400;
}

.extra-light{
	font-weight: 200;
}

.light{
	font-weight: 300;
}

#subtitle{
	font-size: 8vh;
	letter-spacing: 0.08vw;
	transform: scaleY(0.95);
	margin-top: 2.25vh;
/*	line-height: 12vh;*/
}

#quicksand{
	font-family: 'Quicksand', sans-serif;
	font-size: 8.5vh;
	margin-top: -1%;
	margin-right: -0.5%;
/*	margin-left: 1%;*/
}

#social-media{
	margin: 0 1.75vw;
	margin-top: 2%;
}

#social-media a{
	margin: 0 1.75vw;
	text-decoration: none;
}

.button{
	background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-right: 0vw;
    height: 5vw;
    width: 5vw;
    transition: 0.2s;
    display: inline-block;
}

#twitter{
	background-image: url("images/twitter.png");
}

#twitter:hover{
	background-image: url("images/twitter-pink.png");
}

#linkedin{
	background-image: url("images/linkedin.png");
}

#linkedin:hover{
	background-image: url("images/linkedin-pink.png");
}

#github{
	background-image: url("images/github.png");
}

#github:hover{
	background-image: url("images/github-pink.png");
}

#email{
	background-image: url("images/email.png");
}

#email:hover{
	background-image: url("images/email-pink.png");

}

#arrow {
	position: absolute;
	bottom: 0;
	margin-bottom: 2.5%;
	transition: 0.3s ease;
}

#arrow:hover{
	transform: translate(0, -5px);
}

#projects {
	padding: 7.5% 15%;
	max-width: 100vw;
/*	background-color: #fbfbfb;*/
}

.banners{
	max-width: 100%;
    height: 48vh;
	position: relative;
 	overflow: hidden;
	display: block;

	-webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
	transition: 0.3s;
}

.banners:hover{
	-webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
	-moz-transform: scale(1.075);
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
}

#daily-ui{
	background-image: url('images/daily-ui.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-container{
/*	max-width: 70vw;
    height: 48vh;*/
	position: relative;
 	overflow: hidden;
	display: block;
}